@titleBackgroundColor: hsl(284, 100%, 24%);
@titleForegroundColor: hsl(0%, 0%, 100%);
@backgroundColor: hsl(0, 0%, 17%);
@foregroundColor: hsl(0, 0%, 100%);
@error: hsl(17, 100%, 68%);

body {
    background-color: @backgroundColor;
    color: @foregroundColor;
}

.hidden {
    display: none;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-container {
    .centered();
    background-color: @titleBackgroundColor;
    color: @titleForegroundColor;
}

.val-error {
    color: @error;
}